


#contenedor {
    width: 85%;
    height: 42rem;
    border: 2px solid rgb(0, 0, 0);
}

#cabecera {
    box-sizing: content-box;
    width: 90%;
    height: 10rem;
    position: relative;
    /*border: 1px solid rgb(255, 0, 0);*/
}

#tituloprincipal h1 {
    position: absolute;
    right: 0;
    padding: 0;
    margin: 0.2em;
    /*border: 1px solid red;*/
    font-family: "Darker Grotesque", sans-serif;
    font-size: 5.6em;
}

#nav {
    width: 18%;
    height: 70%;
    /*border: 1px solid blue;*/
    text-decoration: none;
    font-family: "Fira Code", sans-serif;
    position: absolute;
    top: 12em;
}

#listanav p span {
    margin-left: 20%;
    color: black;
    text-decoration: inherit;
}

#listanav span::before {
    content: "";
}

#listanav span:hover {
    cursor: pointer;
}

span:active {
    font-size: 1.2rem;
    font-weight: 700;
}

.clear {
    clear: both;
}

#screen {
    box-sizing: border-box;
    float: right;
    border: 2px solid black;
    border-radius: 25px;
    margin: 1.5rem;
    width: 75%;
    height: 65%;
   /* box-shadow: inset 0px 0px 30px 30px rgb(255, 255, 255);*/
}

#screencontent {
    top: 0.5rem;
    left: 1.2rem;
    position: relative;
    margin: 1rem;
    box-sizing: border-box;
    width: 95%;
    height: 95%;
    font-family: "Fira Code", sans-serif;
    /*color: white;*/
    text-align: center;
    text-align: justify;
    padding: 0.5rem;
    overflow: auto;
    /*border: 1px solid black;*/
}

#aboutmetext {
    font-family: "Fira Code", sans-serif;
    display: none;
}

#contacttext {
    font-family: "Fira Code", sans-serif;
    display: none;
}

#projectslist {
    font-family: "Fira Code", sans-serif;
    display: none;
}


*::-webkit-scrollbar{
    width: 0;
}

*::-webkit-scrollbar-thumb {
    background-color: black;
}

a {
    text-decoration: none;
}

#projectslist li a {
    color: black;
    font-size: 1.2rem;
    padding: 1.2rem;
    line-height: 2rem;
}

#projectslist p {
    font-family: "Fira Code", sans-serif;
    font-size: 1.5rem;
    position: sticky;
    top: -0.8rem;
}

#contacttext a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 1.2rem;
    line-height: 2rem;
}

#shadowlist {
    width: 100%;
    height: 100%;
}
