@import url("reset.css");


#contenedor {
    padding: 0;
    margin: 0;
    background: linear-gradient(rgb(86, 86, 88), rgb(28, 28, 36));
}


.header {
    margin-top: 35px;
    padding: 0;
    text-align: center;
    
}



.header h1 {
    font-family: "darker grotesque", sans-serif, bold;
    font-size: 90px;
    font-weight: 600;
    
}


#menu {
    font-family: "Victor Mono", sans-serif;
    margin-left: 30px;
    float: left;
    position: relative;
    top: 100px;
    
}

#menu h2 {
    font-family: "darker grotesque", sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-decoration: underline;

}

#menu ul {
    list-style-type: none;
}

#menu a {
    border-style: none;
    color: aliceblue;
}


#welcomehome {
    font-family: "Victor Mono", sans-serif;
    font-size: 15px;
    float: left;
    margin-left: 30px;
}



#welcomebutton {
    font-family: "darker grotesque", sans-serif;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 5px 0 5px;
    margin:  0px;
}

.welcome {
    margin: 8px;
    text-decoration:underline;
}

#footer {
    border: 1px solid black;
    margin: 10px;
    position: relative;
    top: 400px;
}

#footertext {
    font-family: "darker grotesque";
    font-size: 15px;
    float: right;
}
